<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />      
    </startup>
  <connectionStrings>
    <!--<add name="SqliteConn" providerName="Dos.ORM.Sqlite" connectionString="Data Source=log.db" />-->
    <add name="SqlServerConn" providerName="Dos.ORM.SqlServer9" connectionString="Server=DSER\DATASER;uid=gu;pwd=System&amp;8899HSCOREi7;database=Higo.Game;"/>
  </connectionStrings>
</configuration>